@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --blue-1: rgba(47, 128, 237, 1);
  --darkish-colorkey-black: rgba(54, 58, 63, 1);
  --extra-font-size-13-regular-font-family: "Kumbh Sans", Helvetica;
  --extra-font-size-13-regular-font-size: 13px;
  --extra-font-size-13-regular-font-style: normal;
  --extra-font-size-13-regular-font-weight: 400;
  --extra-font-size-13-regular-letter-spacing: 0px;
  --extra-font-size-13-regular-line-height: normal;
  --extra-font-size-18-semibold-font-family: "Kumbh Sans", Helvetica;
  --extra-font-size-18-semibold-font-size: 18px;
  --extra-font-size-18-semibold-font-style: normal;
  --extra-font-size-18-semibold-font-weight: 600;
  --extra-font-size-18-semibold-letter-spacing: 0px;
  --extra-font-size-18-semibold-line-height: normal;
  --graygray-1: rgba(250, 250, 250, 1);
  --graygray-2: rgba(248, 248, 248, 1);
  --graygray-3: rgba(245, 245, 245, 1);
  --graygray-4: rgba(253, 253, 253, 1);
  --graygray-5: rgba(242, 242, 242, 1);
  --green-2: rgba(39, 174, 96, 1);
  --primary-color: rgba(200, 238, 68, 1);
  --red: rgba(235, 87, 87, 1);
  --secondary-color: rgba(41, 160, 115, 1);
  --size-12-size-12-medium-font-family: "Kumbh Sans", Helvetica;
  --size-12-size-12-medium-font-size: 12px;
  --size-12-size-12-medium-font-style: normal;
  --size-12-size-12-medium-font-weight: 500;
  --size-12-size-12-medium-letter-spacing: 0px;
  --size-12-size-12-medium-line-height: normal;
  --size-12-size-12-regular-font-family: "Kumbh Sans", Helvetica;
  --size-12-size-12-regular-font-size: 12px;
  --size-12-size-12-regular-font-style: normal;
  --size-12-size-12-regular-font-weight: 400;
  --size-12-size-12-regular-letter-spacing: 0px;
  --size-12-size-12-regular-line-height: normal;
  --size-12-size-12-semibold-font-family: "Kumbh Sans", Helvetica;
  --size-12-size-12-semibold-font-size: 12px;
  --size-12-size-12-semibold-font-style: normal;
  --size-12-size-12-semibold-font-weight: 600;
  --size-12-size-12-semibold-letter-spacing: 0px;
  --size-12-size-12-semibold-line-height: normal;
  --size-14-size-14-medium-font-family: "Kumbh Sans", Helvetica;
  --size-14-size-14-medium-font-size: 14px;
  --size-14-size-14-medium-font-style: normal;
  --size-14-size-14-medium-font-weight: 500;
  --size-14-size-14-medium-letter-spacing: 0px;
  --size-14-size-14-medium-line-height: normal;
  --size-14-size-14-regular-font-family: "Kumbh Sans", Helvetica;
  --size-14-size-14-regular-font-size: 14px;
  --size-14-size-14-regular-font-style: normal;
  --size-14-size-14-regular-font-weight: 400;
  --size-14-size-14-regular-letter-spacing: 0px;
  --size-14-size-14-regular-line-height: normal;
  --size-14-size-14-semibold-font-family: "Kumbh Sans", Helvetica;
  --size-14-size-14-semibold-font-size: 14px;
  --size-14-size-14-semibold-font-style: normal;
  --size-14-size-14-semibold-font-weight: 600;
  --size-14-size-14-semibold-letter-spacing: 0px;
  --size-14-size-14-semibold-line-height: normal;
  --size-16-size-16-regular-font-family: "Kumbh Sans", Helvetica;
  --size-16-size-16-regular-font-size: 16px;
  --size-16-size-16-regular-font-style: normal;
  --size-16-size-16-regular-font-weight: 400;
  --size-16-size-16-regular-letter-spacing: 0px;
  --size-16-size-16-regular-line-height: normal;
  --size-16-size-16-semibold-font-family: "Kumbh Sans", Helvetica;
  --size-16-size-16-semibold-font-size: 16px;
  --size-16-size-16-semibold-font-style: normal;
  --size-16-size-16-semibold-font-weight: 600;
  --size-16-size-16-semibold-letter-spacing: 0px;
  --size-16-size-16-semibold-line-height: normal;
  --text-colorpure-white: rgba(255, 255, 255, 1);
  --text-colortext-1: rgba(27, 33, 45, 1);
  --text-colortext-2: rgba(146, 158, 174, 1);
  --text-colortext-3: rgba(120, 119, 139, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
